<div class="custom-select category-dropdown" [class.has-value]="value" (mouseleave)="isCategoryMenuOpen = false"
  (click)="isCategoryMenuOpen = true">
  <div class="category-toggle">
    @if (iconClass) {
    <i [class]="iconClass + ' category-toggle__icon-prefix'"></i>
    }
    <!-- <span class="category-toggle__label">{{ value || placeholder }}</span> -->
    <span class="category-toggle__label" *ngIf="value; else placeholderTpl">
      {{ value }}
    </span>

    <ng-template #placeholderTpl>
      <span class="category-toggle__label placeholder-select">{{ placeholder }}</span>
    </ng-template>

    <span class="select-arrow">
      <i class="fa fa-angle-down category-toggle__icon"></i>
    </span>
    <span class="clear-icon" [style.display]="value ? '' : 'none'">
      <i class="fa-regular fa-circle-xmark" (click)="clearCategory($event)"></i>
    </span>
  </div>

  <div class="dropdown-menu" [class.show]="isCategoryMenuOpen">
    <div class="filter__section">
      @for (item of categories; track item.label) {
      <div>
        <div class="filter__item" (click)="selectCategory(item); $event.stopPropagation()">
          <span>{{ item.label }}</span>
          @if (item.children) {
          <span class="arrow" (click)="toggleCategory(item, $event)">
            @if (item.expanded) {
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path d="M12.6673 6L8.00065 10L3.33398 6" stroke="#151515" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
            } @else {
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path d="M6 3.33301L10 7.99967L6 12.6663" stroke="#151515" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
            }
          </span>
          }
        </div>

        @if (item.children) {
        <div class="submenu" [class.open]="item.expanded">
          @for (child of item.children; track child.label) {
          <div class="filter__item submenu-item" (click)="selectCategory(child); $event.stopPropagation()">
            <span>{{ child.label }}</span>
          </div>
          }
        </div>
        }
      </div>
      }
    </div>
  </div>
</div>