<div class="history-chart" *ngIf="points.length; else emptyState">
  <div class="history-chart__canvas" (mouseleave)="setHoveredNode(null)">
    <svg [attr.viewBox]="'0 0 ' + chartWidth + ' ' + chartHeight" preserveAspectRatio="none">
      <line class="axis-line" [attr.x1]="paddingLeft" [attr.y1]="paddingTop" [attr.x2]="paddingLeft" [attr.y2]="paddingTop + drawableHeight"></line>
      <line class="axis-line" [attr.x1]="paddingLeft" [attr.y1]="paddingTop + drawableHeight" [attr.x2]="paddingLeft + drawableWidth" [attr.y2]="paddingTop + drawableHeight"></line>

      <g *ngFor="let tick of yTicks">
        <line class="grid-line" [attr.x1]="paddingLeft" [attr.y1]="getY(tick)" [attr.x2]="paddingLeft + drawableWidth" [attr.y2]="getY(tick)"></line>
        <text class="y-label" [attr.x]="8" [attr.y]="getY(tick) + 4">{{ formatTick(tick) }}</text>
      </g>

      <path class="series series--high" [attr.d]="highPath"></path>
      <path class="series series--low" [attr.d]="lowPath"></path>
      <path class="series series--median" [attr.d]="medianPath"></path>
      <path class="series series--opening" [attr.d]="openingPath"></path>

      <line class="last-opening-guide" [attr.x1]="lastPointX" [attr.y1]="openingBaseY" [attr.x2]="lastPointX" [attr.y2]="getY(points[points.length - 1].opening)"></line>

      <g *ngFor="let point of points; let i = index">
        <circle *ngFor="let seriesKey of seriesKeys" class="chart-node" [ngClass]="'chart-node--' + seriesKey"
          [class.chart-node--active]="isActiveNode(i, seriesKey)" [attr.cx]="getX(i)" [attr.cy]="getY(getSeriesValue(point, seriesKey))" r="3.5"
          (mouseenter)="setHoveredNode({ index: i, series: seriesKey })"></circle>
        <text class="x-label" [attr.x]="getX(i)" [attr.y]="chartHeight - 10" text-anchor="middle">{{ point.label }}</text>
      </g>
    </svg>

    <div class="history-chart__tooltip" *ngIf="tooltipPoint"
      [style.left.%]="tooltipLeftPercent"
      [style.top.%]="tooltipTopPercent">
      <div class="history-chart__tooltip-title">{{ tooltipPoint.label }}</div>
      <div class="history-chart__tooltip-line">{{ tooltipSeriesLabel }}: {{ formatValue(tooltipSeriesValue) }}</div>
      <div class="history-chart__tooltip-line">Min/Max: {{ formatValue(tooltipPoint.low) }} - {{ formatValue(tooltipPoint.high) }}</div>
      <div class="history-chart__tooltip-line">Số phiên: 1</div>
    </div>
  </div>

  <div class="history-chart__legend">
    <div class="history-chart__legend-item">
      <span class="dot dot--high"></span>
      Giá cao (P75/Max)
    </div>
    <div class="history-chart__legend-item">
      <span class="dot dot--low"></span>
      Giá thấp (P25/Min)
    </div>
    <div class="history-chart__legend-item">
      <span class="dot dot--median"></span>
      Giá phổ biến (Trung vị)
    </div>
    <div class="history-chart__legend-item">
      <span class="dot dot--opening"></span>
      Giá khởi điểm
    </div>
  </div>
</div>

<ng-template #emptyState>
  <div class="history-chart history-chart--empty">Chưa có dữ liệu biểu đồ</div>
</ng-template>
