<div class="pagination">
  <button class="btn-arrow" (click)="prev()" [disabled]="page === 1">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <line x1="19" y1="12" x2="5" y2="12"></line>
      <polyline points="12 19 5 12 12 5"></polyline>
    </svg>
  </button>

  <ng-container *ngFor="let p of pages">
    <button *ngIf="p !== '...'" class="btn-page" [class.active]="p === page" (click)="goToPage(p)">
      {{ p }}
    </button>
    <span *ngIf="p === '...'" class="ellipsis">...</span>
  </ng-container>

  <button class="btn-arrow" (click)="next()" [disabled]="page === totalPages">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <line x1="5" y1="12" x2="19" y2="12"></line>
      <polyline points="12 5 19 12 12 19"></polyline>
    </svg>
  </button>
</div>
