:host {
  --footer-max-width: 1420px;
  --footer-gap: 20px;
}
.footer{
  align-items: center;
  justify-content: center;
  background-color: rgb(240 240 241);
  margin: 32px auto var(--header-height) auto;
  //e9ecef82
  // padding:24px;

  // background:linear-gradient(135deg, #2e7d32, #1b5e20);
  // border-radius:20px;
  // color:#fff;
  max-width: 1420px;
}

.footer-content{
  padding:6px 30px;
  width: 100%;
  background:linear-gradient(135deg, #2e7d32, #1b5e20);
  border-radius:20px;
  color:#fff;
  margin: auto;
  background-color: var(--color-gray-50);
}

.footer-container{
  display:grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap:40px;
  margin-top:40px;
}

.footer-logo{
  display:flex;
  align-items:center;
  gap:8px;
  font-weight:600;
  margin-bottom:10px;
}

.footer-logo img{
  width:32px;
}

.footer-desc{
  font-size:14px;
  opacity:0.9;
  margin-bottom:12px;
}

.footer-social i{
  width:32px;
  height:32px;
  border-radius:50%;
  background:#fff;
  color:#e53935; /* youtube đỏ */

  display:inline-flex;
  align-items:center;
  justify-content:center;

  margin-right:8px;
  cursor:pointer;
}

/* facebook màu xanh */
.footer-social i.fa-facebook{
  color:#1877f2;
}

.footer-col h4{
  margin-bottom:10px;
  font-size:16px;
  color: #FFFFFF;
  font-weight: 600;
}

.footer-col ul{
  list-style:none;
  padding:0;
}

.footer-col li{
  font-size:14px;
  margin-bottom:6px;
  opacity:0.9;
  cursor:pointer;
}

.footer-col li:hover{
  text-decoration:underline;
}

.footer-link {
  padding: 0;
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  text-align: left;

  &:hover {
    text-decoration: underline;
  }
}

.footer-bottom{
  margin-top:20px;
  padding-top:12px;

  border-top:1px solid rgba(255,255,255,0.2);

  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-wrap:wrap;

  font-size:13px;
}

.footer-contact{
  display:flex;
  gap:16px;
  flex-wrap:wrap;
}

.footer{
  box-shadow:0 10px 30px rgba(0,0,0,0.15);
}

@media (max-width: 768px){
  .footer-container{
    grid-template-columns:1fr 1fr;
  }

  .footer-bottom{
    flex-direction:column;
    gap:10px;
    align-items:flex-start;
  }
}