<div class="custom-select" [class.has-value]="selectedLabel">
    <div class="select-box" (click)="toggleDropdown()">
        <span *ngIf="selectedLabel; else placeholderTpl">
            {{ selectedLabel }}
        </span>

        <ng-template #placeholderTpl>
            <span class="placeholder-select">{{ placeholder }}</span>
        </ng-template>

        <span class="select-arrow" [class.open]="isOpen"><i class="fa fa-angle-down"></i></span>
        <!-- Clear icon -->
        <span class="clear-icon" (click)="clearValue($event)">
            <i class="fa-regular fa-circle-xmark"></i>
        </span>
    </div>

    <div class="dropdown" *ngIf="isOpen">
        <div class="option" *ngFor="let option of options" (click)="selectOption(option)">
            {{ option.label }}
        </div>
    </div>
</div>